<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/estilos.css}" />
    </head>
    <body>
        <div>
            <h1 th:text="${dados.titulo}">Exemplo 03</h1>
            <p>Data: <span th:text="${dados.dataHora}"></span></p>
            <p>Número: <span data-th-text="${dados.numero}"></span></p>
            <p><a th:href="${urlGithub}">Link Github</a></p>
        </div>
    </body>
</html>
