<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos POST</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Exemplo POST</h1>
            <form action="destino-dados" method="post">
                <div>
                    <label for="txtNome">Nome</label>
                    <input type="text" id="txtNome" name="nome" />
                </div>
                <div>
                    <label for="txtEmail">E-mail</label>
                    <input type="email" id="txtEmail" name="email" />
                </div>
                <div>
                    <label for="txtTelefone">Telefone</label>
                    <input type="text" id="txtTelefone" name="telefone" />
                </div>
                <div>
                    <label for="txtDataNascimento">Data nascimento</label>
                    <input type="date" id="txtDataNascimento" name="dataNascimento" />
                </div>
                <div>
                    <label for="txtSenha">Senha</label>
                    <input type="password" id="txtSenha" name="senha" />
                </div>
                <button type="submit">Enviar dados</button>
            </form>
            
        </div>
    </body>
</html>
